/* Timeline.css */
.timeline {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(47, 51, 54);
  }
  
  .timeline-item {
    list-style: none;
    border-bottom: 1px solid rgb(47, 51, 54);
  }
  
  .timeline-item:last-child {
    border-bottom: none;
  }

  
  .action-buttons{

    
  }   
  .app-logo-1{
    margin-left: 160px;
  }

  .app-log{
    margin-left: 10px;
  }

   .delete-icon{
    margin-top: 25px;
    margin-right: 10px;
   }
   .actions{
  margin-top: 20px;
   }
   .btn-action{
    background-color: #1DA1F2;
    border-radius: 8px;
    font-size: 18px;
   }
/* 
   .edit-icon{sss
    margin-top: 25px;
   } */

  span2{
    position: absolute;
    margin-left: 10px;
    padding: 10px;
    
  }

  
  span1{
    margin-left: 209px;
    padding: 18px;
  }
  .tweet-created-on {

    padding-left: 25px;
    color: rgb(110, 118, 125);
  }
/* 
  .form-textarea{
    background: none;
    border: 0;
    outline: none;
    width: 100%;
    min-height: 70px;
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;

  } */

  
   
     
   

